<section class="section gray-bg" id="resume">
<div class="jumbotron">
  <div class="text-center jumbotron-left">
    <img src="/assets/photo.jpg" class="rounded-circle img-thumbnail">
  </div>
  <div class="jumbotron-right">
    <h1 class="display-4"><b>À propos de moi ...</b></h1>
    <p class="lead"><span class="text-principal"><i class="bi bi-dash"></i></span>Étudiant en L3 MIAGE à l'Université d'Orléans</p>
    <br>
    <p>Je m'appelle Julien, j'ai 20 ans et je suis étudiant à l'Université d'Orléans en Licence 3 MIAGE.<br>Je suis passionné de Technologie, d'Astronomie & Astrophysique mais également d'Audiovisuel et de Musique.</p>
    <br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/assets/cv.pdf" role="button" target="_blank"><i class="bi bi-file-earmark-person-fill"></i> CV</a>
    </p>
  </div>
</div>
</section>
