<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<section class="section gray-bg" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Mes expériences</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 m-15px-tb">
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2020 - Aujourd'hui</span>
              <h5>Licence 3 Informatique | MIAGE</h5>
              <p>3ème année de Licence Informatique parcours Méthodes Informatiques Appliquées à la Gestion des Entreprises à l'Université d'ORLÉANS.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2018 - 2020</span>
              <h5>BTS SIO</h5>
              <p>BTS Services Informatiques aux Organisations option Solutions Logicielles Applicatives Métiers au lycée BENJAMIN FRANKLIN à ORLÉANS.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2015 - 2018</span>
              <h5>Baccalauréat Professionnel SEN</h5>
              <p>Baccalauréat Professionnel Systèmes Électroniques Numériques option Électronique Industrielle Embarquée au lycée MARGUERITE AUDOUX à GIEN</p>
            </li>
          </ul>
        </div>
        <br>
        <div class="resume-box">
          <h4 class="diplomes">Diplômes & Certifications</h4>
          <ul>
            <li>
              <span class="time">Juillet 2020</span>
              <p><i class="bi bi-award"> Brevet de technicien supérieur SIO option SLAM</i></p>
            </li>
            <li>
              <span class="time">Juillet 2019</span>
              <p><i class="bi bi-card-checklist"> Certificat du MOOC de l'atelier RGPD CNIL</i></p>
            </li>
            <li>
              <span class="time">Avril 2019</span>
              <p><i class="bi bi-card-checklist"> Permis de conduire : Permis B et Véhiculé</i></p>
            </li>
            <li>
              <span class="time">Juillet 2018</span>
              <p><i class="bi bi-award"> Baccalauréat professionnel SEN option EIE</i></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 m-15px-tb">
        <div class="resume-box">
          <h4 class="exp-pro">Mes expériences professionnelles</h4>
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time"> Avril 2021 - Juillet 2021</span>
              <h5>Développeur web full-stack - LCI45 (STAGE)</h5>
              <p>Développeur web front-end & back-end PHP, SQL, Javascript chez LCI Informatique à CHAINGY.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time">Janvier 2020 - Mars 2020</span>
              <h5>Développeur full-stack - EDF (STAGE)</h5>
              <p>Développeur front-end & back-end PHP Symfony, SQL, ANGULAR chez EDF à CNPE de DAMPIERRE-EN-BURLY.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time">Juillet 2019 - Août 2019</span>
              <h5>Technicien informatique - AMPLEXOR (CDD)</h5>
              <p>Technicien informatique & Vaguemestre chez AMPLEXOR à CNPE de DAMPIERRE-EN-BURLY.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time">Mai 2019 - Juillet 2019</span>
              <h5>Développeur full-stack - EDF (STAGE)</h5>
              <p>Développeur web front-end & back-end PHP Symfony, SQL, ANGULAR chez EDF à CNPE de DAMPIERRE-EN-BURLY.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time">Janvier 2018 - Mars 2018</span>
              <h5>Technicien informatique, électronique & mécanique (STAGE)</h5>
              <p>Dépanneur informatique, électronique & mécanique chez INTEVA Product à SULLY-SUR-LOIRE.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <span class="time">Mars 2017 - Mai 2017</span>
              <h5>Technicien informatique, électronique & mécanique (STAGE)</h5>
              <p>Dépanneur informatique, électronique & mécanique chez PEUGEOT BERNIER à GIEN.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
