<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<section class="section gray-bg" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Mes projets</h2>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/udesma.png">
        <div class="card-body">
          <h5 class="card-title">UDESMA45</h5>
          <p class="card-text">Site web créé pour l'association Udesma45.</p>
          <a href="https://udesma45.fr" class="btn btn-primary" target="_blank">Voir ici</a>
        </div>
      </div>
      <!--
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Voir ici</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Voir ici</a>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Voir ici</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Voir ici</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Voir ici</a>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
