.contact {
  margin : 10%;
}

.section {
  padding: 1% 0;
  position: relative;
}

.gray-bg {
  background-color: #f5f5f5;
  padding-top: 5%;
}

.btn-primary {
  background-color: #252525;
  border: #252525;
}

.btn-primary:hover {
  background-color: #e84855;
  border: #e84855;
  transition: 0.6s;
}

.section-title h2 {
  font-weight: 700;
  color: #252525;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.section-title p {
  margin: 0;
  font-size: 18px;
}
