<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Julien Lietard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/">Accueil</a></li>
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/about">Infos</a></li>
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/experiences">Expériences</a></li>
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/projects">Projets</a></li>
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/skills">Compétences</a></li>
      <li routerLinkActive="active"><a class="nav-link menu-button" routerLink="/contact">Me contacter</a></li>
    </ul>
    <!--
    <a class="mode night" href="#"><i class="bi bi-moon-fill"></i></a>
    <a class="mode light" href="#"><i class="bi bi-brightness-high-fill"></i></a>
    -->
  </div>
</nav>

<!-- Les pages -->
<router-outlet></router-outlet>
