@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&family=Teko&display=swap');

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 30px;
  margin-inline-start: 25px;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav {
  margin-inline-start: auto;
}

.navbar-nav .nav-link:hover {
  color: #e84855;
  transition: 0.6s;
}

.navbar-light .navbar-brand {
  font-size: 40px;
  margin-inline-start: 2%;
  letter-spacing: 3px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #e84855;
}

.mode {
  color: #252525;
  margin-inline-end: 10px;
}

.light {
  font-size: 32px;
}

.night {
  font-size: 25px;
}

.mode:hover {
  color: #e84855;
  transition: 0.6s;
}
