<section class="section gray-bg" id="resume">
  <div class="jumbotron">
    <div class="jumbotron-left">
      <h1 class="display-4"><b>QUI SUIS-JE ?</b></h1>
      <p class="lead"><span class="text-principal">JULIEN LIETARD</span>, étudiant en <span class="text-principal">développement informatique</span></p>
      <hr class="my-4">
      <p>Je m'appelle Julien, j'ai 20 ans et je suis étudiant à l'Université d'Orléans en Licence 3 MIAGE.<br>Je suis passionné de Technologie, d'Astronomie & Astrophysique mais également d'Audiovisuel et de Musique.</p>
      <br>
      <a href="https://www.linkedin.com/in/julien-lietard/" class="ibutton" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/julienlietard" class="ibutton" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZfSNrTcSXHMVJbVMddRgjslDbSVCXkzHpgqfTXczNbvHjHJvVrXswsgfXWLRsLSHgnCLB" class="ibutton" target="_blank"><i class="bi bi-envelope-fill"></i></a>
      <a href="https://www.google.fr/maps/place/128+Rue+de+l'Ardoux,+45160+Olivet/@47.8455111,1.9193812,17z/data=!3m1!4b1!4m5!3m4!1s0x47e4e414af42f8a9:0xcf0c4fb1ca917e81!8m2!3d47.845511!4d1.921569" class="ibutton" target="_blank"><i class="bi bi-geo-alt-fill"></i></a>
    </div>
    <div class="text-center jumbotron-right">
      <img src="/assets/photo.jpg" class="rounded-circle img-thumbnail">
    </div>
  </div>
</section>
